#!/usr/bin/env bash

# Export starship theme config location
export STARSHIP_CONFIG=~/.starship

# Set Development zone
export DEV_ZONE=$DEV_DIR

# Make vim the default editor.
export EDITOR='vim';

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history;
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';
# Make some commands not show up in history
export HISTIGNORE=" *:ls:cd:cd -:pwd:exit:date:* --help:* -h:pony:pony add *:pony update *:pony save *:pony ls:pony ls *";

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Load NVM
export NVM_DIR="${DEV_ZONE}/storage/nvm"
[ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh" # This loads nvm

# Load Java Version Manager
# [ -s "/Users/nurrony/.jabba/jabba.sh" ] && source "/Users/nurrony/.jabba/jabba.sh"

# java home path
# export JAVA_HOME=$(/usr/libexec/java_home)
# export GRAALVM_HOME=$(/usr/libexec/java_home)

# turn on go vendoring experiment
# export GO15VENDOREXPERIMENT=1
export CGO_ENABLED="0"
export GOMOD111=on
export GO111MODULE=on
export GOPRIVATE=go.ftdr.com*,golang.frontdoorhome.com*
export MY_POD_NAMESPACE=localhost


# Docker content trust check
export DOCKER_CONTENT_TRUST=0

# AWS
export SAM_CLI_TELEMETRY=0

# Flutter Exports
# Uncomment 2 commented line if you get any warning like DDoS attack
export CHROME_EXECUTABLE="/Applications/Brave Browser.app/Contents/MacOS/Brave Browser"
